<div class="modal show" tabindex="-1" [ngStyle]="{display: isOpen? 'block' : 'none'}" *ngIf="cocktail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cocktail details</h5>
        <button type="button" class="close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 18rem;">
          <img
            [src]="cocktail.imageUrl"
            class="card-img-top" [alt]="cocktail.name">
          <div class="py-3">
            <h6 class="mb-3"><strong>Name: </strong>{{ cocktail.name }}</h6>
            <p><strong>Type: </strong>{{ typeHandler() }}</p>
            <p *ngIf="cocktail.description"><strong>Description: </strong>{{ cocktail.description }}</p>
            <p><strong>Ingredients: </strong></p>
            <ul>
              <li class="mb-2" *ngFor="let ing of cocktail.ingredients">
                {{ ing.ingName + ' (' + ing.ingAmount + ' ' + ing.ingUnit + ')' }}
              </li>
            </ul>
            <p><strong>Instructions: </strong>{{ cocktail.instructions }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop show" [ngStyle]="{display: isOpen? 'block' : 'none'}"></div>
