<form [formGroup]="cocktailForm" (ngSubmit)="onSave()">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="name" formControlName="name">
      <small class="invalid-input-text" *ngIf="fieldHasError('name', 'required')">Enter cocktail name!</small>
    </div>
  </div>

  <div class="form-group row">
    <label for="imageUrl" class="col-sm-2 col-form-label">Image URL</label>
    <div class="row flex-column col-sm-7 no-gutters">
      <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl">
      <small class="invalid-input-text" *ngIf="fieldHasError('imageUrl', 'required')">Enter cocktail image URL!</small>
      <small class="invalid-input-text" *ngIf="fieldHasError('imageUrl', 'imgUrl')">Enter correct cocktail image
        URL!</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2">Type</label>
    <div class="col-sm-7 form-inline">
      <input class="form-check-input" id="alcoholCocktail" type="radio" formControlName="type" value="alcohol-cocktail">
      <label for="alcoholCocktail" class="col-form-label pl-1 mr-4">Alcohol cocktail</label>
      <input class="form-check-input" id="mocktail" type="radio" formControlName="type" value="mocktail">
      <label for="mocktail" class="col-form-label pl-1">Mocktail</label>
    </div>
  </div>

  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-7">
      <textarea class="form-control" id="description" formControlName="description"></textarea>
    </div>
  </div>

  <div class="form-group row" formArrayName="ingredients">
    <label class="col-sm-2 col-form-label">Ingredients</label>
    <div class="col-sm-7">
      <button type="button" class="btn btn-outline-info mb-3" (click)="addIngredient()">Add</button>
      <div class="mb-2" *ngFor="let _ of getIngControls(); let i = index">
        <div class="row no-gutters justify-content-between align-items-start" [formGroupName]="i">
          <div class="col-5">
            <input type="text" class="form-control px-2" formControlName="ingName" placeholder="Ing name">
            <small class="invalid-input-text" *ngIf="fieldHasError('ingName', 'required', i)">Enter ingredient's
              name!</small>
          </div>
          <div class="row flex-column col-3">
            <input type="number" class="form-control px-2" formControlName="ingAmount" placeholder="Amount">
            <small class="invalid-input-text" *ngIf="fieldHasError('ingAmount', 'required', i)">Enter ingredient's
              amount!</small>
            <small class="invalid-input-text" *ngIf="fieldHasError('ingAmount', 'amount', i)">The minimum value must be
              at least 0.1!</small>
          </div>
          <div class="col-2">
            <select class="custom-select px-2" formControlName="ingUnit">
              <option value="">Unit</option>
              <option value="ml">ml</option>
              <option value="gr">gr</option>
            </select>
            <small class="invalid-input-text" *ngIf="fieldHasError('ingUnit', 'required', i)">Enter ingredient's
              unit!</small>
          </div>
          <button type="button" class="btn btn-outline-danger" (click)="removeIngredient(i)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="instructions" class="col-sm-2 col-form-label">Instructions</label>
    <div class="col-sm-7">
      <textarea class="form-control" id="instructions" formControlName="instructions"></textarea>
      <small class="invalid-input-text" *ngIf="fieldHasError('instructions', 'required')">Enter cocktail
        instructions!</small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-info" [disabled]="isUploading || cocktailForm.invalid">
        <span *ngIf="!isUploading">Save</span>
        <span class="spinner-border spinner-border-sm" *ngIf="isUploading">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </div>
  </div>
</form>
